<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div><h4><%= item.name %></h4> | due on: <%= item.due_date.strftime('%A')%>, <%= item.due_date.strftime('%B')%> <%= item.due_date.strftime('%-d')%>, <%= item.due_date.strftime('%Y')%> <%= item.due_date.strftime("at %I:%M%p")%> | to-do item will take <%= item.time_est.strftime("%H hours and %M minutes") %> to complete | importance: <%= item.importance %>
    <%= form_for [item.user, item] do |f| %>
    <%= f.check_box :completed %>
    <%= f.submit "<--completed", class: 'btn btn-danger btn-xs' %></div>
    <% end %>
  <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-check', remote: true %></small></h4>
<% end %>
