<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'http://localhost:3000/clicks.js'%>
  <%= javascript_include_tag 'http://localhost:3000/page_load.js'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><% if current_user %><%= link_to (current_user.name || current_user.email)+"'s profile", @user %><% end %></li>

      <div class="pull-right user-info">
        <% if current_user %>
        <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
         Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
       <% else %>
         <%= link_to "Sign In", new_user_session_path %> or
         <%= link_to "Sign Up", new_user_registration_path %>
       <% end %>

     </div>
    </ul>
  <%= yield %>
  </div>

</body>
</html>
